$cyan: #bbd3f0 !default;
$lightblue: #73a1da !default;
$blue: #0066ce !default;
$darkblue: #004087 !default;

$lightgrey: #c9c9c9 !default;
$grey: #e3e3e3 !default;
$darkgrey: #9d9c9c !default;

$red: #cb0538 !default;

$breakpoints: (
  sm: 570px,
  md: 768px,
  lg: 1279px,
  xl: 1340px,
  xxl: 1600px,
) !default;
