* {
  box-sizing: border-box;
  /* outline: 1px dashed #f00; */
}

body {
  font-family: 'Roboto Flex', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

.main {
  background-color: white;
}

.resizable {
  cursor: ew-resize;
}
